* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #555;
	color: #555;
	font-family: 'lato', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
	background-color: #f2f2f2;
	border-bottom: 1px solid #222;
	margin-bottom: 5px;
}

div {
	padding: 0px;
	margin: 0;
}

img {
	display: inline-block;
	text-align: center;
	margin-left: 25px;
	border-radius: 50%;
}
h1,h3 {
	margin: 1% 0 1% 20%;
	color: #fff;

}
h1 {
  font-size: 240%;
  word-spacing: 4px;
	letter-spacing: 1px;
	font-weight: 300;
}

h4, h5 {
	font-weight: 400;
}

h2 {
	font-size: 150%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 3px;
	letter-spacing: 1px;
	font-weight: 400;
	padding-left: 5px;
	text-transform: uppercase;
}

h4 {
	font-size: 90%;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 145%;
}

h5 {
	text-align: left;
	margin-top: 10px;
}

a:link,
a:visited {
	color:#e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;


}

a:hover,
a:active {
	color: #555;

	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s, color 0.2s;
}

.live {
	font-size: 150%;
	font-weight: bold;
	color: #009229;
}


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


#online-title {
    width: 100%;
    background-color: #6c72fa;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-top: -0px;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
}
#online-title {
    background-color: #00a650 !important;
}

#offline-title {
    width: 100%;
    background-color: #c0c0c0;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
}
#offline-title {
    color: #00a650 !important;
    background-color: #000000 !important;
}

#twitch-widget {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    display: block;
    font-size: .9em;
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    background-color: transparent;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}


/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
	width: 91.53%;
}

.span-10-of-12 {
	width: 83.06%;
}

.span-9-of-12 {
	width: 74.6%;
}

.span-8-of-12 {
	width: 66.13%;
}

.span-7-of-12 {
	width: 57.66%;
}

.span-6-of-12 {
	width: 49.2%;
}

.span-5-of-12 {
	width: 40.73%;
}

.span-4-of-12 {
	width: 32.26%;
}

.span-3-of-12 {
	width: 23.8%;
}

.span-2-of-12 {
	width: 15.33%;
}

.span-1-of-12 {
	width: 6.86%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-12-of-12 {
		width: 100%;
	}
	.span-11-of-12 {
		width: 100%;
	}
	.span-10-of-12 {
		width: 100%;
	}
	.span-9-of-12 {
		width: 100%;
	}
	.span-8-of-12 {
		width: 100%;
	}
	.span-7-of-12 {
		width: 100%;
	}
	.span-6-of-12 {
		width: 100%;
	}
	.span-5-of-12 {
		width: 100%;
	}
	.span-4-of-12 {
		width: 100%;
	}
	.span-3-of-12 {
		width: 100%;
	}
	.span-2-of-12 {
		width: 100%;
	}
	.span-1-of-12 {
		width: 100%;
	}
}
